/*=================
PC、スマホ共通スタイル
===================*/
* {
    box-sizing: border-box;
}

p {
    font-size: 18px;
}

body {
    max-width: 1080px;
    margin: 0 auto 0 auto;
    font-family: Noto Sans Japanese;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
}

/* ロゴ */
#logo {
    margin: 0;
    border: solid 1px #000000;
}

/* ナビゲーションのレイアウト */
#nav-pc {
    font-size: 34px;
}

#nav-pc ul {
    display: flex;
}

#nav-pc li {
    list-style: none;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc a {
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

#nav-pc a:hover {
    text-decoration: underline;
}


/* メインビジュアル */
#main-visual {
    position: relative;
    height: 400px;
}

#main-visual > img {
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
/* 見出し */
h2 {
    font-size: 34px;
    text-align: center;
}
  
/* About */
#about {
    margin: 100px auto 100px auto;
}

#about-flex {
    display: flex;
}

#about-flex > div {
    width: 50%;
    margin: 0px auto;
}

#about-photo {
    border-radius: 432px 432px 432px 432px;
    text-align: right;
}

h3 {
    font-size: 24px;
}
/* Works */
#works {
    margin: 80px auto 80px auto;
}

/* セクション内の外枠 */
.works > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

 /* 3つの写真＋説明の枠 */
 .works-box > img {
    width: 100%;
    position: relative;
}

 .works-box {
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    position: relative;
}

/* フッター */
footer {
    color: black;
    text-align: center;
}

#footer-link > a {
    text-decoration: none;
    margin: 10px;
}

#footer-link > a:hover {
    text-decoration: underline;
}